html, body {
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%; }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px; }

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-social__item {
    display: block;
    margin-right: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 40px;
    height: 40px; }
    .header-social__item i {
      font-size: 20px;
      line-height: 40px;
      display: block;
      position: relative;
      color: #000000;
      font-weight: bold; }
      .header-social__item i::after {
        position: absolute;
        content: "";
        width: 36px;
        height: 36px;
        border: 2px solid #000000;
        border-radius: 50%;
        left: 0;
        top: 0; }

.header-flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-flags__flag {
    cursor: pointer;
    padding-left: 25px; }

.main {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
  height: calc(100% - 100px); }
  .main-item_2 {
    padding-left: 60px; }
  .main-item_4 {
    display: none; }

@media (max-width: 997px) {
  .wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 50px; }
  .main {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main-item {
      padding: 30px; }
      .main-item_2 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .main-item_1 {
        display: none; }
      .main-item_4 {
        display: block; } }

@media (max-width: 460px) {
  .header-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-social {
    padding-bottom: 20px; }
    .header-social__item {
      margin-right: 15px;
      margin-left: 15px;
      padding: 0; }
  .header-flags__flag {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0; } }
/*# sourceMappingURL=style.css.map */